@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Arial";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e72122;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  margin-bottom: 73px;
}

.spollers__item {
  font-size: 0.875rem;
}

.spollers__title {
  width: 100%;
  cursor: pointer;
  text-align: center;
  color: #e72122;
  text-decoration: underline;
  padding: 0.625rem 0.9375rem;
  position: relative;
}

.spollers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}


.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.16;
  text-decoration-line: underline;
  color: #535353;
  padding: 0 14px;
  margin-bottom: 10px;
}

.footer__item:not(:last-child) {
  border-right: 1px solid;
}

.footer__item:nth-child(2) {
  padding: 0 25px;
}

.link {
  color: #e72122;
  text-decoration: underline;
  cursor: pointer;
}

.best-content-request__image {
  text-align: center;
}

.best-content-request__image:not(:last-child) {
  margin-bottom: 2.3125em;
}

.best-content-request__image img {
  max-width: 100%;
}

.best-content-request__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.continue-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.continue-block__button {
  margin-bottom: 10px;
  max-width: 350px;
}

.continue-block__text {
  text-align: center;
  font-size: 11px;
  line-height: 1.18;
}

.subscription-block__text {
  line-height: 1.142;
  margin-bottom: 12px;
}

@media (min-width: 29.99875em) {
  .spollers__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscription-block {
    text-align: center;
  }
}

@media (min-width: 47.99875em) {
  .spollers__title {
    display: none;
  }
}

@media (min-width: 87.5em) {
  .subscription-block__terms {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .spollers__body {
    padding: 37px 8px 0 8px;
  }
}

@media (max-width: 29.99875em) {
  ._spoller-init .spollers__title {
    cursor: pointer;
  }

  ._spoller-init .spollers__title::before,
  ._spoller-init .spollers__title::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #e72122;
    height: 2px;
    width: 10px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }

  ._spoller-init .spollers__title::before {
    -webkit-transform: translate(-75%, -50%) rotate(40deg);
        -ms-transform: translate(-75%, -50%) rotate(40deg);
            transform: translate(-75%, -50%) rotate(40deg);
  }

  ._spoller-init .spollers__title::after {
    -webkit-transform: translate(0, -50%) rotate(-40deg);
        -ms-transform: translate(0, -50%) rotate(-40deg);
            transform: translate(0, -50%) rotate(-40deg);
  }

  ._spoller-init .spollers__title._spoller-active::before {
    -webkit-transform: translateX(-75%) rotate(-40deg);
        -ms-transform: translateX(-75%) rotate(-40deg);
            transform: translateX(-75%) rotate(-40deg);
  }

  ._spoller-init .spollers__title._spoller-active::after {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@media (max-width: 23.4375em) {
  .subscription-block__terms {
    margin-bottom: 3.4375rem;
  }
}

@media (min-width: 23.4375em) and (max-width: 87.5em) {
@supports (margin-bottom: clamp( 1.5625rem , 4.1234756098rem  +  -2.9268292683vw , 3.4375rem )) {
    .subscription-block__terms {
      margin-bottom: clamp( 1.5625rem , 4.1234756098rem  +  -2.9268292683vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 4.1234756098rem  +  -2.9268292683vw , 3.4375rem )) {
    .subscription-block__terms {
      margin-bottom: calc(3.4375rem + -1.875 * (100vw - 23.4375rem) / 64.0625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: rgba(51, 51, 51, 0.6588235294);
  }
}